@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
body{
    font-family: 'Karla';
    background: url(images/tunel\ da\ cora.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-size: 115%;
}
section{
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
/*cor envolta do card*/
.card{
    position: relative;
    width: 750px;
    height: 900px;
    backdrop-filter: blur(25px);
    background: rgba(47, 42, 50, 0.46);
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
}
/*linha abaixo do título*/
.top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid #00000024;
}
/*espaço do título*/
.top span{
    font-size: 25px;
    margin-left: 100px;
    color:#ffffff;
}
/*botão do informativo*/
.top i{
    font-size: 30px;
    padding: 10px;
    border-radius: 30%;
    background-color: #fff
}
.top i:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    background-color: #fff;
    }
    /*informativo*/
.top p{
    position: absolute;
    top: 50px;
    right: 15px;
    background: rgba(0,0,0,0.15);
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease-in-out;
    color: #fff;
    }
.top i:hover ~ p{
        opacity: 1;
        transition: .5s ease-in-out;
    }
.middle {
    display: flex;
    flex-direction: row;
    padding: 110px 80px 0px 50px;
}
/*traços em volta da img*/
.middle img{
    width: 170px;
    border-radius: 50%;
    border: 5px solid transparent;
    outline: 3px dashed rgba(0, 0, 0, 0.354);
}
.middle .right{
    margin: 20px 0px 0px 20px;
}
ul li{
    list-style-type: circle;
    font-size: 1.5rem;
    line-height: 1.9em;
    color: #fff;
}
.social-icon{
    display: flex;
    flex-direction: center;
}
/*volta do ícone*/
.social-icon span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    transition: .4s;
    cursor: pointer;
}
/*letra do icon*/
.social-icon i{
    font-size: 20px;   
    color: #ffffff;
}
/*dentro do ícone*/
.social-icon span:hover{
    color: #ffffff;
    background: #ffffff;
    transform: translateY(-4px);
    box-shadow: inset 0 0 0 15px rgb(176, 158, 255);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0 30px;
}
/*bolinha pequena do btn*/
.btn{
    background-color: #ffffff;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}
/*card2 fibonacci*/
body {
    font-family: 'Karla';
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-size: 140%;
}
section{
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
/*cor envolta do card*/
.card2{
    position: relative;
    width: 950px;
    height: 650px;
    backdrop-filter: blur(25px);
    background: rgba(47, 42, 50, 0.46);
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
}
/*linha abaixo do título*/
.top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid #00000024;
}
/*espaço do título*/
.top span{
    font-size: 25px;
    margin-left: 100px;
    color:#ffffff;
}
/*botão do informativo*/
.top i{
    font-size: 30px;
    padding: 10px;
    border-radius: 30%;
    background-color: #fff
}
.top i:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    background-color: #fff;
    }
    /*informativo*/
.top p{
    position: absolute;
    top: 50px;
    right: 15px;
    background: rgba(0,0,0,0.15);
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease-in-out;
    color: #fff;
    }
.top i:hover ~ p{
        opacity: 1;
        transition: .5s ease-in-out;
    }
.middle .card2{
    display: flex;
    flex-direction: row;
    padding: 80px 50px 0px 50px;
}
/*traços em volta da img*/
.middle img{
    width: 170px;
    border-radius: 50%;
    border: 5px solid transparent;
    outline: 3px dashed rgba(0, 0, 0, 0.354);
}
.middle .right{
    margin: 20px 0px 0px 20px;
}
ul li{
    list-style-type: circle;
    font-size: 1.3rem;
    line-height: 1.9em;
    color: #fff;
}
.pag .card2 img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

/*card3 retângulo*/
body {
    font-family: 'Karla';
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-size: 140%;
}
section{
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
/*cor envolta do card*/
.card3{
    position: relative;
    width: 950px;
    height: 650px;
    backdrop-filter: blur(25px);
    background: rgba(47, 42, 50, 0.46);
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
}
/*linha abaixo do título*/
.top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid #00000024;
}
/*espaço do título*/
.top span{
    font-size: 25px;
    margin-left: 100px;
    color:#ffffff;
}
/*botão do informativo*/
.top i{
    font-size: 30px;
    padding: 10px;
    border-radius: 30%;
    background-color: #fff
}
.top i:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    background-color: #fff;
    }
    /*informativo*/
.top p{
    position: absolute;
    top: 50px;
    right: 15px;
    background: rgba(0,0,0,0.15);
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease-in-out;
    color: #fff;
    }
.top i:hover ~ p{
        opacity: 1;
        transition: .5s ease-in-out;
    }
.middle .card3{
    display: flex;
    flex-direction: row;
    padding: 80px 50px 0px 50px;
}
/*traços em volta da img*/
.middle img{
    width: 170px;
    border-radius: 50%;
    border: 5px solid transparent;
    outline: 3px dashed rgba(0, 0, 0, 0.354);
}
.middle .right{
    margin: 20px 0px 0px 20px;
}
ul li{
    list-style-type: circle;
    font-size: 1.3rem;
    line-height: 1.9em;
    color: #fff;
}
.pag .card3 img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
.texto ul li{
    color: #ffffff;
    line-height: 1.2;
    font-size: 1.0rem;
}